body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0F2F1;
    margin-top: 16px;
}
.card {
    margin: 16px;
    width:fit-content;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-selection{
    margin: 16px;
    width: 100px;
}
#score-display{
    font-size: 24px;
    font-weight: 700;
}
